* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f7f7;
  }
  
  .form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: left;
    margin-bottom: 20px;
    font-size: x-large;
  }
  
  .logo {
    border-left: 5pt;
    width: 50px;
    margin-bottom: 10px;
    margin-left: ;
  }
  
  h1 {
    font-size: 39px;
    color: black;
    text-align: left;
  }
  
  p {
    color: grey;
    font-size: 18px;
  }
  
  .individual-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #00a8a8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #008080;
  }
  
  .terms {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-top: 15px;
  }
  
  .terms a {
    color: #00a8a8;
    text-decoration: none;
  }
  
  .terms a:hover {
    text-decoration: underline;
  }
  