* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.5;
    font-size: 1rem;
  }
  
  /* Add styles here! */
  p {
    margin: 16px 0;
  }
  
  strong {
    color: hsl(160deg, 100%, 30%);
  }
  
  .max-width-wrapper {
    display: flex;
    max-width: 768px;
    margin: 0 auto;
    padding: 64px 0;
  }
  
  header {
    border-bottom: 8px solid hsl(0deg, 0%, 60%);
    min-height: 45%;
  }
  
  .title {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 2rem;
  }
  
  .intro-chunk {
    max-width: 384px;
    padding: 16px;
  }
  
  main {
    background: hsl(0deg, 0%, 40%);
    min-height: 55%;
  }
  
  .card {
    background: hsl(0deg, 0%, 100%);
    border-bottom: 8px solid hsl(0deg, 0%, 60%);
    padding: 8px 16px;
  }
  
  .indented-heading {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -24px;
    padding: 16px 24px;
    font-size: 1.25rem;
    background: hsl(45deg, 100%, 50%);
    border-bottom: 8px solid hsl(45deg, 100%, 40%);
    width: fit-content;
  }